<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: navbar" />

<body>
	<main>
		<div class="container general-list-view">
			<h1>Vehicles</h1>
			<br>
			<div class="row">
				<div class="col-md-8">
					<h3>
						Customer: <span
							th:text="${customer.firstName + ' ' +customer.lastName}">
						</span>
					</h3>
				</div>
				<div class="col-md-2">
					<a class="btn btn-secondary"
						th:href="@{/vehicles/customer/add/}">Add
						vehicle</a>
				</div>
				<div class="col-md-2">
					<a class="btn btn-secondary"
						th:href="@{/repairs/customer/vehicle-history}">Vehicle
						history</a>
				</div>
			</div>
			<br>

			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>Id</th>
						<th>Production year</th>
						<th>Registration plate</th>
						<th>Brand</th>
						<th>Brand model</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${vehicles.empty}">
						<td colspan="2">No vehicles available</td>
					</tr>
					<tr th:each="vehicle : ${vehicles}">
						<td><span th:text="${vehicle.id}"> </span></td>
						<td><span th:text="${vehicle.productionYear}"> </span></td>
						<td><span th:text="${vehicle.registrationPlate}"> </span></td>
						<td><span th:text="${vehicle.brandModel.getBrand.getName}">
						</span></td>
						<td><span th:text="${vehicle.brandModel.getName}"> </span></td>
						<td><a
							th:href="@{/vehicles/customer/edit/{id}(id=${vehicle.id})}">Edit</a></td>
						<td><a th:href="@{/vehicles/delete/{id}(id=${vehicle.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<hr>
	<th:block th:replace="fragments :: footer" />
</body>
</html>