<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: navbar" />

<body>
	<main>
		<div class="container general-list-view">
		<div class="text-right">
			<a href="/brands/add" class="btn btn-secondary">Add</a>
      	</div>
		
			
			<h3>Brands</h3>
			<br />

			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>Id</th>
						<th>Brands</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${brands.empty}">
						<td colspan="2">No brands available</td>
					</tr>
					<tr th:each="brand : ${brands}">
						<td><span th:text="${brand.id}"> </span></td>
						<td><span th:text="${brand.name}"> </span></td>
						<td><a th:href="@{/brands/edit/{id}(id=${brand.id})}">Edit</a></td>
						<td><a th:href="@{/brands/delete/{id}(id=${brand.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>

		</div>
	</main>
	<hr>
	<th:block th:replace="fragments :: footer" />
</body>
</html>