<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: navbar" />

<body>
	<main>
		<div class="container general-list-view">
			<h3>Brands - add new brand</h3>
			<br />

			<form action="#" th:action="@{/brands/add}" class="w-50" th:object="${brand}"
				method="post">
				<p>
					Name: <input type="text" class="form-control" th:field="*{name}" />
				</p>
				<p>
					<input type="submit" class="btn btn-secondary" value="Submit" />
				</p>
			</form>

		</div>
	</main>
	<hr>
	<th:block th:replace="fragments :: footer" />
</body>
</html>