<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: navbar" />

<body>
	<main>
		<div class="container general-list-view">
			<h1>Qualifications - edit</h1>
			<br />

			<form action="#" class="w-50"
				th:action="@{/qualifications/edit/{id}(id=${qualification.id})}"
				th:object="${qualification}" method="post">
				<p>
					Name: <input type="text" class="form-control" th:field="*{name}" />
				</p>
				
				<label for="qualificationDropDown">Select qualification</label>
				<select name="repairTypes" id="qualificationDropDown" class="form-control" th:field="*{repairTypes}" multiple>
					<option th:each="repairType : ${repairTypes}"
						th:value="${repairType.getId}" th:text="${repairType.getName}"></option>
				</select>
				<br>
				<p>
					<input type="submit" class="btn btn-secondary" value="Submit" />
				</p>
			</form>

		</div>
	</main>
	<hr>
	<th:block th:replace="fragments :: footer" />
</body>
</html>