<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: navbar" />

<body>
	<main>
		<div class="container general-list-view">
			<h3>Brand models - add new brand</h3>
			<br />


			<form action="#" class="w-50" th:action="@{/brandmodels/add}"
				th:object="${brandModel}" method="post">
				<label for="name" >Name</label> 
				<input type="text" class="form-control"th:field="*{name}"
					id="name" placeholder="Name"> 
				<label for="Select" >Select brand</label> 
				<select id="Select" name="brand" th:field="*{brand}" class="form-control">
					<option class="form-control" th:each="brand : ${brands}" th:value="${brand.getId}"
						th:text="${brand.getName}">
					</option>
				</select> <br> <input type="submit" class="btn btn-secondary" value="Submit" />
			</form>

		</div>
	</main>
	<hr>


	<th:block th:replace="fragments :: footer" />
</body>
</html>